In [1]:
import pandas as pds

In [2]:
table=pds.read_csv('hotel_bookings.csv')

In [4]:
table.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,96,2015,September,40,29,2,7,2,...,No Deposit,36.0,NaN,0,Transient,48.8,0,2,Check-Out,10/8/2015
1,Resort Hotel,0,61,2015,September,40,29,2,10,2,...,No Deposit,240.0,NaN,0,Transient,80.1,0,2,Check-Out,10/11/2015
2,Resort Hotel,0,19,2015,September,40,30,0,1,2,...,No Deposit,NaN,NaN,0,Transient,106.0,0,1,Check-Out,10/1/2015
3,Resort Hotel,0,50,2015,September,40,30,0,1,1,...,No Deposit,NaN,NaN,0,Transient,104.0,0,0,Check-Out,10/1/2015
4,Resort Hotel,0,0,2015,September,40,30,0,1,2,...,No Deposit,110.0,NaN,0,Transient,90.1,0,0,Check-Out,10/1/2015

In [5]:
table.shape

(38826, 32)

In [6]:
table.isnull().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                              10
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                              4212
company                           37502
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [7]:
print(table['distribution_channel'].unique())

['TA/TO' 'Direct' 'Corporate' 'Undefined' 'GDS']

In [8]:
print(table['company'].unique())

[ nan 318. 103. 307. 110. 108. 268. 308. 154.  29. 270. 112. 272. 169.
 428.  88. 178. 195. 465. 135.  51.  78. 297. 146. 291. 331. 254.  94.
 484. 269. 504.  34. 225. 130. 390. 159. 520. 490. 507. 355. 506. 498.
 515. 353. 388. 459.  22. 405. 223. 116. 512. 126. 511. 371. 380.  64.
 274. 330. 242. 364. 263. 477. 518. 329. 367. 394.  59. 251.  72. 286.
 113. 521. 281. 523. 277. 282. 530. 539.  47. 437.  20. 358.  62. 290.
 384. 534. 337. 436.  39. 470. 525. 541.  40. 455. 410.  45.  38.   9.
  49.  48. 186. 153. 218. 179. 174. 253. 202. 216. 221. 219. 275. 233.
 280. 309. 321.  93. 316.  85. 107. 350. 279. 334. 348. 366.  67. 365.
  91. 407. 435. 150.  73. 385. 418. 197. 409. 450. 452. 466.  43. 115.]

In [9]:
mean_val=table['children'].mean();
table['children'].fillna(mean_val, inplace=True)

In [10]:
table.isnull().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              0
babies                                0
meal                                  0
country                              10
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                              4212
company                           37502
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [11]:
table.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [12]:
final_dataset=table[['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month','arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
        'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type'
       , 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status']]

In [13]:
final_dataset.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_day_of_month',
       'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children',
       'babies', 'meal', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status'],
      dtype='object')

In [14]:
final_dataset.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
dtype: int64

In [15]:
final_dataset.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,Resort Hotel,0,96,2015,September,29,2,7,2,0.0,...,D,D,0,No Deposit,0,Transient,48.8,0,2,Check-Out
1,Resort Hotel,0,61,2015,September,29,2,10,2,0.0,...,A,A,0,No Deposit,0,Transient,80.1,0,2,Check-Out
2,Resort Hotel,0,19,2015,September,30,0,1,2,0.0,...,F,F,1,No Deposit,0,Transient,106.0,0,1,Check-Out
3,Resort Hotel,0,50,2015,September,30,0,1,1,1.0,...,A,E,0,No Deposit,0,Transient,104.0,0,0,Check-Out
4,Resort Hotel,0,0,2015,September,30,0,1,2,0.0,...,G,G,0,No Deposit,0,Transient,90.1,0,0,Check-Out

In [16]:
final_dataset.shape

(38826, 27)

In [17]:
final_dataset=pds.get_dummies(final_dataset, drop_first=True)

In [18]:
final_dataset.head()

,is_canceled,lead_time,arrival_date_year,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,...,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Group,customer_type_Transient,customer_type_Transient-Party,reservation_status_Check-Out,reservation_status_No-Show
0,0,96,2015,29,2,7,2,0.0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,0,61,2015,29,2,10,2,0.0,0,0,...,0,0,0,0,0,0,1,0,1,0
2,0,19,2015,30,0,1,2,0.0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,0,50,2015,30,0,1,1,1.0,0,0,...,0,0,0,0,0,0,1,0,1,0
4,0,0,2015,30,0,1,2,0.0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [20]:
final_dataset.shape

(38826, 71)